{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% tailwind_css %}
  </head>
  <body class="bg-indigo-100" data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <header class="bg-orange-500 text-white p-4 shadow-lg ">
      <div class="container mx-auto flex justify-center items-center">
        <a href="{% url 'index' %}" class="text-2xl font-bold flex-1 text-center ml-48">Aerolíneas Splinter</a>
      </div>
    </header>
    <div class="flex">
      <nav class="bg-orange-400 text-white w-44 p-6 shadow-lg h-screen">
        <ul class="space-y-4">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'index' %}" class="hover:text-gray-200">Vuelos</a>
          </li>
          <li>
            <a href="{% url 'my_reservations' %}" class="hover:text-gray-200">Mis Reservas</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="hover:text-gray-200">Salir</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'index' %}" class="hover:text-gray-200">Inicio</a>
          </li>
          <li>
            <a href="{% url 'login' %}" class="hover:text-gray-200">Iniciar sesión</a>
          </li>
          <li>
            <a href="{% url 'register' %}" class="hover:text-gray-200">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <main class="flex-1 p-8"> {% block content %}{% endblock %} </main>
    </div>
  </body>
</html>
