{% extends 'base.html' %}
{% load i18n %}

{% block title %} 
  Registro
{% endblock %} 

{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-orange-500 mb-4">{% trans "Registro" %}</h2>
  <form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-4">
      <label for="first_name" class="block text-sm font-medium text-gray-700"> {{form.first_name.label_tag}}</label>
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>
    <div class="mb-4">
      <label for="last_name" class="block text-sm font-medium text-gray-700"> {{form.last_name.label_tag}} </label>
       {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium text-gray-700">{{form.username.label_tag}}</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-700">{{form.password.label_tag}}</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">{{form.email.label_tag}}</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <button type="submit" class="w-full bg-orange-500 text-white py-2 rounded-md hover:bg-orange-600"
      >{% trans "Registrarme" %}</button
    >
  </form>
</div>
{% endblock %}
